.accordion {
  width: 500px;
  margin: 0 auto;
}


.conteiner {
  font-style: 20px;
}
.doing__conteiner {
  font-style: 20px;
}
.section__title {
  font-style: 20px;
}
.list {
  font-style: 20px;
}
.doing__list {
  font-style: 20px;
}
.red {
  background-color: rgb(49, 196, 44);
}