@media screen and (min-width: 1200px) {
    .green {
        background-color: rgb(51, 20, 190);
    }
}

.class {
    background: #000;
}

@media screen and (min-width: 1200px) {
    .green {
        background-color: rgb(51, 20, 190);
    }
}

.class {
    background: #000;
}